<div id="menu-contents">

  <div id="restaurant-info">
    <p>
      <h1><%= @details['name'] %></h1>
      <span id="address"><%= @details['addr'] %> - <%= @details['city'] %>, <%= @details['state'] %></span>
      <br><%= @details['cs_contact_phone'] %>
    </p>
    <hr>
  </div>

  <div class="menu-items">
  </div>

  <div id="tray">
    <b>Order Tray</b>
    <hr>
    <br />
  </div>

  <div id="map-canvas"></div>

  <script>
  $('#all-content').css("background-color", "white");
  WingButton.currentMenuURL = "/guest/menu/<%=@details['restaurant_id']%>";
  </script>

</div>


