

<div class="restaurant-list">
  <h2>The following places near you have wings!</h2>
  <% @deliveries.each do |key| %>
  <% if key['cu'] && key['cu'].include?("Wings") %>

  <p>
    <%= key['na'] %>
    <br><a href="/guest/menu/<%= key['id'] %>">See menu</a>
    <br><%= key['cs_phone'] %>
    <br><%= key['addr'] %>
    <% if key['is_delivering'] == 1 %>
    <br><b>Will deliver!</b> Estimated delivery time: 
    <%= key['del'] %> minutes. Delivery minimum: 
    $<%= key['mino'] %>
    
    <% end %>
    <hr>
    <% end %>
    
  </p>

  <% end %>

  <script>
  $('#all-content').css("background-color", "white");
  </script>
</div>