<p>The following places near you have wings!</p>

<div class="restaurant_list">
  <% @deliveries.each do |key| %>
  <% if key['cu'] && key['cu'].include?("Wings") %>

  <p>
    <%= key['na'] %>
    <br><a href="/details/<%= key['id'] %>">See menu</a>
    <br><%= key['cs_phone'] %>
    <br><%= key['addr'] %>
    <% if key['is_delivering'] == 1 %>
    <br><b>Will deliver!</b> Estimated delivery time: 
    <%= key['del'] %> minutes. Delivery minimum: 
    $<%= key['mino'] %>
    <% end %>
    <% end %>
  </p>

  <% end %>
</div>