<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wingbutton</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "namespace", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
    </div>

    <div id="all-content">

      <h1>WingButton</h1>

      <%= yield %>

    </div>


    <div id="footer">
      <footer>
        <% if logged_in? %>
        <%= link_to("Profile", "/users/#{current_user.id}") %>
        <%= link_to("Log Out", "/session", method: "delete") %>
        <% else %>
        <%= link_to("Log In","/login") %>
        <% end %>
      </footer>
    </div>
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
